
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome {{name}}</h2>
        </div>
    </div>
</div>

<div class="row">
    <h2>Grid tree view sample</h2>
    Custom Textbox :<input type="text" id="cutomSearch" [(ngModel)]="searchText" />
    <table class="table table-striped">
        <thead>
            <tr>
                <td *ngFor="let header of fTreeObjectFull.header">
                    <span class="glyphicon glyphicon-sort" style="cursor:pointer"  (click)="sort(header.sort)"> {{header.name}}</span>
                </td>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of fTreeObjectFull.data |filter :searchText;let i=index" class="{{item.class}}">
                <td>
                    <span [ngStyle]="{'padding-left': getDetails(item.$$treeLevel)}">
                        <span style="cursor:pointer" (click)="itemClick(index, item);"
                              [ngClass]="{'glyphicon':true,'glyphicon-triangle-bottom': !item.leaf && item.expend, 'glyphicon-triangle-right': !item.leaf && !item.expend}">
                        </span>
                        {{i+1}}<input type="checkbox" id="chkBox{{i+1}}" indeterminate="item.indeterminate" [(ngModel)]="item.selected" (click)="itemCheckClick(index, item);" />
                    </span>
                </td>
                <td>{{item.name}}</td>
                <td>{{item.score}}</td>
                <td>{{item.city}}</td>
                <td>{{item.birthday}}</td>
            </tr>
        </tbody>
    </table>
</div>

