<input type="text" ng-model="searchRequest.$" placeholder="Search"/>
<table class="table table-striped table-bordered ">
    <thead>
    <tr>
        <td
                ng-repeat="header in options.header"><span ng-show="header.sort!=undefined"
                                                           class="glyphicon glyphicon-sort"
                                                           style="cursor:pointer"
                                                           ng-click="sort(header.sort)"/>{{header.name
            }}
        </td>
    </tr>
    </thead>
    <tbody>


    <tr ng-repeat="item in updateOptions | filter:searchRequest" class="{{item.class}}">
        <td>
            <span style="padding-left: {{item.level * 30}}px;"/>

    <span style="cursor:pointer" ng-click="itemClick($index, item,item.requestDate);"
          ng-class="{'glyphicon glyphicon-triangle-bottom': !item.leaf && item.expend, 'glyphicon glyphicon-triangle-right': !item.leaf && !item.expend}"/>

            <input type="checkbox" indeterminate="item.indeterminate"
                   id="chkBox{{$index+1}}"
                   ng-checked="{{item.checked}}" ng-model="item.checked"
                   ng-click="itemCheckClick($index, item);"/>
            {{item.requestDate}}

        </td>
        <td>{{item.requestor}}</td>
        <td>{{item.emailAddress}}</td>
        <td>{{item.itemCount}}</td>
        <td>
            <span class="glyphicon" style="cursor:pointer" ng-click="itemClick($index, item,item.requestDate);"
                  ng-class="{'glyphicon glyphicon-ok green': item.employeeSpecifiedAddress, 'glyphicon glyphicon-remove red': !item.employeeSpecifiedAddress}"></span>
        </td>
        <td>
            <button id="{{item.actions.reject}}{{$index}}" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-ban-circle red"></span> {{item.actions.reject}}
            </button>
            <button id="{{item.actions.approve}}{{$index}}" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-ok-circle green"></span> {{item.actions.approve}}
            </button>

        </td>
    </tr>
    </tbody>
</table>